.header-title {
  font-size: 50px;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.header-bar {
  border: 1px solid black;
  margin-bottom: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.header-bar a {
  text-align: center;
  flex: 1;
}